[AUTOUPDATE]
# Automatisch erzeugt durch .github/workflows/release.yml
VERSION=1.1.2
ARCHIVEURL=https://github.com/pschoenbi/LoxBerry-Plugin-UniFi2Lox/archive/refs/heads/release-1.1.2.zip
INFOURL=https://github.com/pschoenbi/LoxBerry-Plugin-UniFi2Lox/blob/main/CHANGELOG.md
